.container {
  margin: 0 auto;
  padding: 1rem;
}
.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-box h2 {
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 60px 0 0;
  line-height: 1.1;
  font-size: 2rem;
}

.header-box h1 {
  font-size: 3.75rem;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 9px 0 0;
}
.photo-box {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}
.img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-box img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding: 1rem;
}
.footer {
  background-color: rgb(77, 72, 72);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  color: #fff;
}
.footer a {
  color: rgb(243, 240, 235);
}
.footer a:hover {
  color: rgb(131, 117, 100);
}
.text-box {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 9px;
  padding: 0 2rem;
}
